

h1{
    font-size: 30px;
}

.grid-container{
    display: grid;
    
    grid-template-rows: 1fr 8fr;
    
  
    
    height: 90vh;
    
    text-align: center;
}

.grid-item1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background: rgb(34,193,195);
    background: linear-gradient(27deg, rgba(34,193,195,1) 0%, rgba(69,45,253,1) 100%);
    overflow: hidden;
    background-size: cover;
    width: 90%;
    height: 100vh;
    
    
    
}

