* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 10;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    height: 100vh;
    gap: 1px;
   
    text-align: center;
   
}

.grid-item {
    display: flex;
    border: 1px solid red;
    border-radius: 5px;
    
    text-align: center;
    justify-content: center;

    
}

.grid-item-25{
    grid-column-start: 1;
    grid-column-end: 3;
}

body{
    background-image: ;
}








