



.grid-container{
    display: grid;
    
    grid-template-rows: 1fr 5fr;
    
  
    
    height: 98vh;
    
    text-align: center;
}

.grid-item1{
    
    color: aliceblue;
    margin-top: 0%;
    font-size: 20px;
    margin-bottom: 0;
    
}



body{
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgb(34,193,195);
    background: linear-gradient(27deg, rgba(34,193,195,1) 0%, rgba(69,45,253,1) 100%);
    overflow: hidden;
    background-size: cover;
    width: 90%;
    height: 100vh;
    margin: auto;
    
    
    
}

#form{
    border-radius: 5%;
    background-color: aliceblue;
    padding: 10% 0 20% 0;
    margin-top: 0%;
}

label{
    font-size: 30px;
    
    color: rgb(60, 7, 7);
}

input{
    margin-top: 10px;
    width: 90%;
    height: 30px;
    border: 0;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.031);
}

button{
    width: 90%;
    height: 50px;
    border: 0;
    padding: 5px;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow:0 0 15px 4px rgba(255, 0, 38, 0.071);

}

button:hover{
    color: rgba(0, 0, 0, 0.503);
}